:root {
  font-family: sans-serif;
  --font-color: #000228;
  --background-color: #f8f8ff;
  --accent-color-1: #05dae8;
  --accent-color-2: #c200db;
  --accent-color-3: #ff2a6d;
  --accent-color-4: #1d1856;
  line-height: 1.5em;
}

header {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-self: center;
}

article header {
  display: flex;
  flex-direction: column;
}

header h1 a,
header nav a {
  color: var(--accent-color-3);
  text-decoration: none;
}

a {
  color: var(--accent-color-4);
  text-decoration-color: var(--accent-color-1);
  text-decoration-thickness: 3px;
}

img {
  width: 100%;
}

p img {
  height: 1.5em;
  vertical-align: bottom;
  width: auto;
}

header a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

ul {
  list-style-type: none;
}

nav ul li {
  padding: 0em 1em 0em 1em;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

main {
  max-width: 75ch;
  align-self: center;
}

.author {
  display: flex;
  padding-bottom: 1em;
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}
.author img {
  height: 3em;
  width: auto;
  vertical-align: top;
}

.side-note {
  background-color: var(--accent-color-3);
  margin-left: 10%;
}

.side-note-contents {
  color: ghostwhite;
  background-color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10%;
  padding: 10px;
  font-weight: 100;
}

.image-with-credit {
  font-style: italic;
}
